html, body{
  height: 99%;
  width: 99%;
  display: inline-flex;
  overflow: hidden;
}

#tasks-minified-box {
  text-align: center;
  margin: 20px;
  background-color: rgba(127, 175, 229, 0.76);
  margin-top: 70px;
}
@media(min-width: 1079px){
  #tasks-minified-box{
    width: 300px;
    height: calc(100% - 50px - 40px);
  }

  #task-info-box{
    width: calc(100% - 400px);
    height: calc(100% - 50px - 40px);
    margin: 20px;
    margin-top: 70px;
  }

  .sub-container{
    width: 99%;
  }

  #mini-task-container-cont{
    overflow-y: auto;
    overflow-x: hidden;
  }

  .task{
    height: auto;
  }

  #mini-task-container{
    display: table;
  }

}
@media(max-width: 1079px){
  #tasks-minified-box{
    width: calc(100% - 40px);
    height: 200px;
  }

  #task-info-box{
    width: calc(100% - 40px);
    height: calc(100% - 75px - 220px);
    max-width: 100%;
    margin: 20px;
    margin-top: 0;
    /*position: relative;*/
    /*top: 220px;*/
  }

  body{
    display: block;
  }

  #mini-task-container-cont{
    overflow-y: hidden;
    overflow-x: auto;
  }

  #mini-task-container{
    display: inline-flex;
    width: auto;
  }

  .sub-container{
    /*width: 99%;*/
    display: inline-flex;
  }

  .task{
    height: 120px;
    width: 400px;
    overflow-y: auto;
  }

  #board-desc{
    position: absolute;
    left: 50%;
    margin-left: -78px;
    margin-top: 25px;
  }

  #board-name{
    height: 20px;
    position: absolute;
    left: 50%;
    margin-left: -78px;
  }

  #shortcut-help{
    position: absolute;
    left: 50%;
    margin-left: -250px;
    top: 100px;
  }
}

#task-info-box{
  text-align: center;
  /*width: calc(100% - 200px - 50px);*/
  background-color: rgba(127, 175, 229, 0.75);
}

.task-desc, .task-name{
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 10px;
}

.container-header{
  height: 20px;
  width: 99%;
  font-size: 12px;
  display: inline-flex;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.sub-container{
  display: inline-flex;
  height: calc(100% - 30px);
  width: 99%;
}

#task-details{
  width: 150px;
}
#subtask-container{
  width: calc(100% - 150px - 20px);
  overflow: auto;
}

input, textarea{
  width: 156px;
  max-width: 156px;
  min-width: 156px;
  border: none;
  border-radius: 5px;
  background-color: #4396c3;
}
textarea{
  height: 100px
}

#board{
  text-align: center;
  width: calc(75% - 20px);
}
#filter{
  text-align: center;
  width: calc(25% - 20px);
}

.hidden{
  display: none;
}
.show{
  z-index: 100;
  display: block;
}
#darken{
  background-color: rgba(73, 73, 73, 0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  margin: -10px;
}
.message-box{
  padding: 25px;
  width: 400px;
  min-height: 150px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
  border: 1px solid black;
  background-color: #efefef;
  position: absolute;
  border-radius: 5px;
  height: auto;
}
#message-box-button{
  left: 100%;
  top: 100%;
  position: sticky;
}

#message-box-loading{
  text-align: center;
}

/*Board selection*/
#select-board-menu{
  width: 100%;
  height: 100%;
}

#board-select{
  text-align: center;
  width: 98%;
  height: calc(100% - 50px - 40px);
  margin: 20px;
  background-color: rgba(127, 175, 229, 0.75);
  margin-top: 70px;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 1079px){
  .board{
    width: calc(100% - 40px);
    height: 150px;
    margin-top: 0;
  }

  .board-icon {
    width: 100px;
    height: 100px;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
  }
  .board-name{
    margin-top: -80px;
    margin-left: 120px;
  }
  .board-desc{
    display: block;
  }

}

@media (min-width: 1080px){
  .board {
    width: 300px;
    height: 300px;
  }
  .board-icon {
    width: 75%;
    height: 75%;
    font-size: 50px;
    margin: auto;
  }
  .board-desc{
    display: none;
  }
}

.board{
  margin: 20px;
  background-color: cornflowerblue;
  border-radius: 25px;
  box-shadow: 10px 10px 5px #0006;
  transition-duration: 0.5s;
  display: inline-block;
}
.board:hover, .board.hover{
  box-shadow: 5px 5px 5px #0006;
  border: 2px dashed #484848;
}

.board:active{
  transition-duration: 0s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.board-icon{
  background-color: #bbdbf8;
  border-radius: 100%;
  overflow-x: hidden;
}

.board-desc{
  margin-top: 0px;
  margin-left: 120px;
  background-color: #77a1ec;
  border-radius: 10px;
  height: 50px;
  overflow-wrap: break-word;
  word-break: break-word;
}

/*.board-icon:before{*/
/*  content: 'LTB';*/
/*}*/

.board-name{
  background-color: #77a1ec;
  border-radius: 10px;
  overflow-x: -moz-hidden-unscrollable;
  overflow-x: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
  overflow-y: hidden;
  overflow-y: -moz-hidden-unscrollable;
}

select{
  border: none;
  outline: none;
  background-color: rgba(0,0,0,0);
}

#board-name{
  text-align: center;
}

#board-desc{
  /*width: 98%;*/
  /*max-width: none;*/
}

#mini-task-container-cont{
  height: calc(100% - 30px);
}

.task{
  border-radius: 25px;
  min-height: 75px;
  margin: 10px;
  box-shadow: 5px 5px 11px -5px black;
  transition-duration: 0.5s;
}
.task:hover{
  box-shadow: 5px 5px 11px black;
}

.subtask-box, #subtasks{
  height: max-content;
  width: max-content;
  /*margin-left: 160px;*/
  display: table;
  /*border-bottom: 1px solid grey;*/
}

.subtask{
  border-radius: 10px;
  height: auto;
  width: 160px;
  /*min-height: 75px;*/
  /*margin-top: auto;*/
  /*margin-left: -160px;*/
  box-shadow: 1px 1px 10px -8px black;
  transition-duration: 0.5s;
  opacity: 0.9;
  font-size: 12px;
  border: 1px solid gray;
  display: table-cell;
  vertical-align: middle;
}

.subtask-spacer{
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 2px dashed black;
}
.subtask-spacer-block{
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

.task-red{
  background-color: #ff716c;
}
.task-yellow{
  background-color: #fff164;
}
.task-green{
  background-color: #93ff95;
}

#subtask-hover{
  width: 160px;
  min-height: 150px;
  height: fit-content;
  /*position: absolute;*/
  background-color: rgb(7, 164, 230);
  z-index: 10;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid black;
  box-shadow: 0 0 10px 1px #afafaf;
}

#shortcut-help{
  width: 500px;
  margin-top: 75px;
  margin-bottom: 25px;
  height: auto;
  background-color: #77a1ec;
}

.context-menu{
  text-align: center;
  width: 150px;
  height: auto;
  background-color: #bbdbf8;
  position: absolute;
  border-radius: 5px;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
.context-menu-elm{
  width: 150px;
  height: 25px;
  border-radius: 5px;
  border-bottom: 1px solid black;
}

.context-menu-elm:hover{
  background-color: rgba(0,0,0,0.1);
}

.setting-container{
  width: 300px;
  height: 200px;
}

.setting-text{
  word-break: break-word;
  overflow-wrap: break-word;
}

#sub-task-editor{
  width: 75%;
  background-color: #4396c3;
  height: 80%;
  position: absolute;
  left: calc(25% / 2);
  top: 10%;
  border-radius: 25px;
  border: 1px solid black;
}

.inline-flex-cont{
  display: inline-flex;
  width: 100%;
  height: 100%;
}

#subtask-setting-container{
  width: 66%;
  height: 100%;
  overflow: auto;
}

#subtask-message-container{
  width: 33%;
  min-width: 200px;
  height: 100%;
  border-left: 1px solid black;
}
#subtask-messages{
  overflow-y: auto;
  height: calc(100% - 50px);
  border-bottom: 1px solid black;
}
#type-new-message{
  display: inline-flex;
}

.comment{
  width: 100%;
  height: auto;
  border-bottom: 1px solid grey;
  word-break: break-word;
  overflow-wrap: break-word;
  display: grid;
  margin-top: 5px;
  margin-bottom: 5px;
}
.comment-name{
  left: 0;
}
.comment-time{
  font-size: 10px;
  margin-bottom: 10px;
}
#type-msg{
  width: calc(100% - 90px);
  min-width: 50px;
  max-width: none;
  background-color: rgba(0,0,0,0.05);
}

#calendar-container{
  width: min-content;
  background-color: #aaa;
  left: 50%;
  margin-left: calc(-716px / 2);
  position: absolute;
  top: 5%;
}

.blob{
    width:15px;
    height:15px;
    border-radius: 100px;
    margin: 0;
}